<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../mystyles.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">-->
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/v4-shims.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Charmonman" rel="stylesheet">

</head>
<body>
    <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                Home
                            </a>
                            <a class="navbar-item">
                                Examples
                            </a>
                            <a class="navbar-item">
                                Documentation
                            </a>
                            <span class="navbar-item">
                    <a class="button is-primary is-inverted">
                      <span class="icon">
                        <i class="fab fa-github"></i>
                      </span>
                      <span>Download</span>
                    </a>
                  </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Sofia's Book Recommendations
                </h1>
                <h2 class="subtitle">
                    Sofia built this with Bulma!
                </h2>
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>Modifiers</a></li>
                        <li><a>Grid</a></li>
                        <li><a>Elements</a></li>
                        <li><a>Components</a></li>
                        <li><a>Layout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <div class="tile is-parent" th:each="book: ${books}">
        <article class="tile is-child notification is-danger">
            <span class="title" th:text="${book.title} + '   '"></span>
            <span th:switch="${book.genre}">
                <i th:case="'fantasy'" class="fas fa-dragon fa-2x"></i>
                <i th:case="'political fiction'" class="fas fa-flag-usa fa-2x"></i>
            </span>
            <p class="subtitle" th:text="${book.year}"></p>
            <div class="content">
                Lorem ipsum dolor amet hoodie hammock palo santo semiotics, brooklyn kombucha stumptown man braid green juice kogi. Paleo church-key blue bottle cronut austin man braid cred pinterest lomo franzen craft beer squid. Fanny pack fashion axe hell of, single-origin coffee humblebrag tofu waistcoat. Freegan meh vegan ethical. Pitchfork scenester readymade, iceland XOXO sustainable drinking vinegar keffiyeh kitsch. Hell of keffiyeh synth air plant vexillologist, beard chillwave cloud bread gluten-free intelligentsia chambray jean shorts.

                Hella vexillologist whatever, jean shorts viral flexitarian blue bottle chicharrones pork belly bushwick sriracha four dollar toast twee. Sriracha before they sold out palo santo actually health goth try-hard XOXO heirloom. Gochujang pug paleo deep v 3 wolf moon try-hard. Subway tile tattooed bushwick gentrify, affogato godard actually iceland organic dreamcatcher umami. Paleo stumptown chicharrones kinfolk, dreamcatcher coloring book knausgaard tacos yuccie pork belly activated charcoal af lyft chartreuse kombucha.
            </div>
        </article>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column">
                First column
            </div>
            <div class="column">
                Second column
            </div>
            <div class="column">
                Third column
            </div>
            <div class="column">
                Fourth column
            </div>
        </div>
    </div>

    <div class="container is-fluid">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Hello World</p>
                    <p class="subtitle">What is up?</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p style="margin: 40px">
                Kickstarter organic put a bird on it mixtape 3 wolf moon. Vinyl before they sold out distillery hexagon. Venmo roof party 90's, banh mi post-ironic neutra thundercats 3 wolf moon chambray tattooed yuccie cronut actually fam. Put a bird on it meh banh mi fanny pack 3 wolf moon. Stumptown poke organic wayfarers disrupt four loko. Retro vape tacos pour-over forage gentrify. Keffiyeh pok pok umami tousled semiotics vape tilde distillery farm-to-table stumptown irony biodiesel hell of.
            </p>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>



</body>
</html>