<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div class="container" th:each="movie: ${movies}">
        <h1 class="title" th:text="${movie.title} + ' ' + ${movie.year}" />
    </div>

    <div th:each="book: ${books}">
        <div th:text="${book.title} + ' ' + ${book.year}" />
    </div>

</body>
</html>